.hidden {
  display: none;
  text-align: center;
}

body {
  background-color: cornsilk;
  text-align: center;
}

#banner-pic {
  float: center;
  width: 200px;
  height: auto;
  margin: 5px;
  border: 5px solid gold; 
}

#clippy-pic img {
  width: 200px;
  float: center;
  border-radius: 80;
}

.card {
  margin: 10px;
  padding: 10px;
  border: solid 5px;
  border-radius: 10px 10px 10px 10px;
  opacity: 80%;
  background-color: cornsilk;
  border-color: brown;
}

form {
  font-weight: 900;
}
